/*font-family: 'Open Sans', sans-serif;*/
body {	
	font-size: 18px;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
}
.container-h2 {
	padding: 10% 0 0 2%;
	display: flex;
}
h2 {
	font-size: 35px;
	min-width: 200px;
	color: #00BDD1;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 10px;
}
.bracket-close{
	color: #00BDD1;
	font-size: 40px;
	margin-left: 10px;
	font-weight: 400;
	position: relative;
	bottom: 15px;
}
.btn {
	display: flex;
	background: #222222;
	color: white;
	padding: 20px 40px;
	border: 2px solid black;
	border-radius: 30px;
}
.subm-btn {
	display: flex;
	background: white;
	color: black;
	padding: 20px 40px;
	max-width: 300px;
	margin: 0 auto;
	font-weight: 700;
	font-size: 20px;
	border-radius: 30px;
}
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	user-select: none;

	&__body {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}

	&__logo {
		& img {
			height: 70px;
			width: 70px;
			margin: 0 0 0 20px;
		}
	}


	&__list {
		display: flex;
		text-transform: uppercase;
	}

	&__link {
		color: white;
		margin: 0 15px;
		padding: 0 20px;
		&:hover {
			color:  #00BDD1;
			padding-left: 11px;
			margin: 8px;
			&:after {
				content: "}";
				position: relative;
				bottom: 1px;
				transition: 0.2s;
			}
			&:before {
				content: "{";
					position: relative;
					bottom: 1px;
					transition: 0.2s;
			}
		}
	}
}
.block-main__avatar-wrapper {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;

	& .avatar-glass {
			user-select: none;
			width: 200px;
			height: 200px;
			position: relative;
			left: 200px;
			bottom: 260px;
			opacity: 0;
			transition: 0.5s;
			transform: rotateZ(30deg);
	}
}

.block-main {
		padding-top: 150px;
		user-select: none;
		&__body {
			display: flex;
			//flex-wrap: wrap;
		}

		&__avatar {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			
		}

		&__content {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;	
			flex-direction: column;
			line-height: 1.2;
			letter-spacing: 1px;
			& :first-child {
				display: flex;
				justify-content: center;
				margin: 20px 0 0 0;
				width: 100%;
			}
			& h1 {
				display: flex;
				flex-direction: column;
				font-size: 50px;
				max-width: 300px;
				margin-top: 40px;
				font-weight: 700;
				& span {
					display: flex;
					font-size: 18px;
				}
			}

		}
		&__btn {
			margin: 40px 0 80px 0;
		}
}


.about-me {
	background: #222222;
	width: 100%;
	height: 100%;
	line-height: 1.4;
	padding: 5% 0 0 0;

	&__body {

		display: flex;
		width: 100%;
		max-height: 700px;
	}

	&__content {
		color:#FFC700 ;
		width: 50%;
		height: 50%;
		& p {
			margin-left: 40px;
		}
	}

	&__header {
		color: #00BDD1;
		margin: 0 0 20px 0;
	}

	&__variable {
		color: #fff;
	}

	&__variable-name {
		color: #00BDD1;
	}

	&__bracket {
		color: #FF00C7;
	}
	&__content-info{
		display: flex;
		margin-left: 20px;
	}
}
.adout-me {

	&__computer {
		display: flex;
		justify-content: flex-end;
		position: relative;
		& img {
			width: 800px;
			height: 800px;
			position: relative;
			top: 30px

		}
	}
}
.skills__body{
	max-height: 700px;
}
.my-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 700px;

	& img {
		max-width: 100px;
		max-height: 100px;

	}
	& .my-skills__technology-scss {
		margin-bottom: -20px;
	}
	& .my-skills__technology-jquery {
		max-width: 80px;
		max-height: 80px;
	}
	& .my-skills__technology-figma {
		max-width: 70px;
		max-height: 70px;
		margin-bottom: 10px;
	}

	&__technology {
		margin: 20px 50px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		& h3 {
			text-align: center;
			font-weight: 700;
			margin: 10px 0 ;
		}

		& p {
			font-size: 14px;
			max-width: 120px;
			text-align: center;
			font-weight: 400;
			line-height: 1.4;
			//margin:20px 0;
		}
	}
}
.img-html {
	position: relative;
		& img {
			position: relative;
			left: 700px;
			bottom: 200px;
			max-width: 600px;
		}
}


.contacts {
	background: #222222;

	&__title-text {
		color:#fff;
		margin: 5% 20px 0;
		text-align: center;
		font-size: 22px;
	}
}

.form-wrapper {
	color: #fff;
	padding: 20px;
	.form {
		border: 1px solid white;
		border-radius: 20px;
		max-width: 600px;
		margin: 30px auto;		
			&__content {
				padding: 40px;
				display: flex;
				flex-direction: column;
				& span {
					margin: 20px 0;
					font-size: 20px;
					& input {
						width: 100%;
						padding: 10px;
						font-size: 20px;
						margin-top: 15px;
						border-radius: 15px;
						&:focus { 
							background: #ffebcc;
							
						}
					}
				}
				& textarea {
					margin-bottom: 30px;
					font-size: 18px;
					padding: 10px;
					resize: none;
					border-radius: 15px;
					&:focus { 
						background: #ffebcc;
					}
				}
				
			}
	}
}

.footer {
	height: 150px;
	width: 100%;
	background: black;

	&__list {
		display: flex;
		justify-content: center;
		padding-top: 6%;
	}

	&__link {
		margin-left: 40px;
		color: white;
		text-transform: uppercase;
	}
}

.modal-window {
	display: flex;
	background: black;
	padding: 20px;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	align-self: auto;
	border: 3px solid white;
	border-radius: 20px;

	&__wrapper {
		background: rgba(0,0,0,0.7);
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.modal {

	//&__form {

	//}

	&__content {
		display: flex;
		flex-direction: column;
		color: white;
		& span {
			font-size: 16px;
			//&.modal__close {
			//	margin-bottom: -20px;
			//	font-size: 30px;
			//	display:flex;
			//	justify-content: flex-end;
			//	cursor: pointer;
			//	border: 1px solid white;
			//}
			& input {
				padding: 10px 10px 10px 50px;
				font-size: 16px;
				width: 100%;
				font-size: 20px;
				margin-top: 15px;
				border-radius: 15px;
				&:focus { 
					background: #ffebcc;
				}
			}
		}
		& textarea {
			margin-bottom: 15px;
			font-size: 16px;
			padding: 8px;
			resize: none;
			border-radius: 15px;
			&:focus { 
				background: #ffebcc;
			}
		}
	}
}

.modal-icon {
	float: left;
	position: relative;
	bottom: 40px;
	left: 10px;
	user-select: none;
}



span {
	margin: 15px 0;
	font-size: 16px;
	&.modal__close {
		color: white;
		float: right;
		margin: -8px 0 -30px 0;
		font-size: 30px;
		cursor: pointer;
		&:hover {
			color: rgb(193, 1, 252);
		}
	}

}

.hide {
		display: none;
	} 
/*-----------------------------media------------------------------*/
@media (min-width : 1300px) {
	.my-skills__technology {
		&:hover {
			cursor: pointer;
			& img {
				transform: scale(1.1);
				transition: 0.1s;
				filter: drop-shadow(1px 1px 5px #000);
			}
		}
		
}
		.btn {
			&:hover {
				background: white;
				color: black;
				transition: 0.3s;
			}
		}
		.subm-btn {
			&:hover {
				background: #ffebcc;
			}
		}
		.header__logo:hover {
			transform: scale(1.1);
		}
		.block-main__avatar-wrapper:hover{
			& .avatar-glass {
			left: 53px;
			transition: 0.8s;
			opacity: 0.9;
			transform: rotateZ(0deg);
		  }
		}

}


@media only screen and (max-width : 1540px) {
	.adout-me__computer {
		& img {
			max-width: 490px;
			max-height: 490px;
			top: 400px;
		}
	}

}
@media only screen and (max-width : 1290px) {
	.block-main__body {
		flex-wrap: wrap;
		}
		.img-html {
			& img {
				display: none;
			}
		}
		.adout-me__computer {
			& img {
				max-width: 190px;
				max-height: 190px;
				top: 400px;
			}
		}

}